<!DOCTYPE html>
<html>
  <head>
    <% if current_user %>
      <title>Chitter</title>
    <% else %>
      <title>Welcome to Chitter - Login</title>
    <% end %>
    <link rel="stylesheet" type="text/css" href="/css/application.css">  
  </head>
  <body>
    <% if current_user %>
      <form id="sign-out" method="post" action="/sessions">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Sign out</button>
      </form>
    <% end %>
    <% if flash[:notice] %>
      <div class='flash notice'>
        <%= flash.now[:notice] %>
      </div>
    <% end %>
    <% if flash[:errors] && !flash[:errors].empty? %>
      <ul>
        <% flash.now[:errors].each do |error| %>
          <li class='flash error'><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
