<form action='/create/peep' method='POST'>
  <label for="content">Compose new Peep</label>
  <textarea name="content" id="content" cols="37" rows="7" maxlength="140"> </textarea>
  <button type="submit">Peep!</button>
</form>
