  <form action='sessions' method='POST'>
    <input name='login-uname' placeholder='Username'>
    <input name='login-pword' type='password' placeholder='Password'>
    <button type='submit'>Sign in</button>
  </form>

  New to Twitter? <a href='/signup'>Sign up now >></a>
