<% if flash[:notice] %>
  <div class='flash notice'>
    <%= flash.now[:notice] %>
  </div>
<% end %>
<% if flash[:errors] && !flash[:errors].empty? %>
  <ul>
    <% flash.now[:errors].each do |error| %>
      <li class='flash error'><%= error %></li>
    <% end %>
  </ul>
<% end %>
