<!DOCTYPE html>
<html>
  <head>
    <%= partial "partials/title" %>
    <link rel="stylesheet" type="text/css" href="/css/application.css">  
  </head>
  <body>
    <%= partial "partials/header" %>
    <%= partial "partials/flash" %>
    <%= yield %>
  </body>
</html>
