<!DOCTYPE html>
<html>
  <head>
    <%= partial "partials/title" %>
    <link rel="stylesheet" href="/css/normalize.css">  
    <link rel="stylesheet" href="/css/chitter.css">  
  </head>
  <body>
    <%= partial "partials/header" %>
    <%= partial "partials/flash" %>
    <%= yield %>
  </body>
</html>
